.info_container{
    display: flex;
    border:  1px solid black;
    cursor: pointer;
}

.info_container button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
}